// .order-container {
//     .order-book {
//         display: flex;
//         gap: 30px;
//         margin-bottom: 20px;
//         background: white;
//         padding: 20px;
//         border-radius: 5px;

//         .book-content {
//             display: flex;
//             align-items: center;
//             gap: 15px;
//             width: 100%;
//             justify-content: space-between;

//             img {
//                 width: 100px;
//                 height: 100px;
//             }
//         }

//         .action {
//             width: 7%;
//             gap: 50px;
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//         }
//     }


// }

.order-container {
    .order-book {
        display: flex;
        margin-bottom: 20px;
        background: white;
        padding: 20px;
        border-radius: 5px;
        align-items: center;

        .book-content {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 20px;

            >.image,
            >.title,
            >.price,
            >.action {
                flex: 1;
                text-align: center;
            }

            .image img {
                width: 150px;
                height: 150px;
                object-fit: cover;
            }

            .action {
                flex: 0.5;

                i {
                    color: hotpink;
                }
            }
        }
    }
}